.App {
  text-align: left; /* Mantener el contenido alineado a la izquierda */
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #c6ffda;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.title{
  text-align: center;
}
.editor-preview-container {
  display: flex;
  justify-content: space-around; /* Cambiado de space-around a space-between */
  align-items: flex-start;
  gap: 20px;
}

.editor, .preview {
  width: 45%;
  height: 70vh;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.editor {
  border: 2px solid #8a2be2;
  background-color: #ffffff;
  color: #333;
  resize: none;
}

.preview {
  border: 2px solid #8a2be2;
  background-color: #f9f9f9;
}

.editor:focus {
  outline: none;
  border-color: #8a2be2;
}

pre, code {
  background-color: #e8e8e8;
  padding: 5px;
  border-radius: 5px;
}

a {
  color: #8a2be2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

blockquote {
  margin: 0;
  padding: 10px;
  border-left: 5px solid #8a2be2;
  background-color: #f9f9f9;
}

img {
  max-width: 100%;
  height: auto;
}

/* Nuevos estilos para headings y subheadings */
.preview h1,
.preview h2 {
  font-weight: bold;
  text-decoration: underline;
}

/* Estilos para tablas */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
